:root{
    --preto: #000000;
    --azul-turquesa:#00b5b4;
    --cinza-escuro:#222222;
    --branco-gema:#f8f5e8;
    --amarelo1:#f9c70a;
    --vermelho:#ff3e3e;
    --amarelo2:#ffcc00;
    --branco:#ffffff;

    --fonte-padrão: 'VT323', monospace;

}

body{
    background-color:var(--cinza-escuro) ;
}
.atributos_chamada{
    border-bottom: solid 3px #f9c70a;
    align-items: center;
    margin: 55px 55px 25px 55px;
    padding-bottom:50px ;
    
}
.atributos_chamada_titulo{
    font-family: var(--fonte-padrão);
    font-size: min(90px, 10vw); /*viewport unit (width)*/
    color: var(--branco);
    text-align: center;
    margin-top: 25px;
}
.atributos_fisicos{

    border-bottom: solid 3px #f9c70a;
    align-items: center;
    margin: 0px 55px 25px 55px;
    padding-bottom:50px ;
    

}
.atributos_fisicos_titulo{
    font-family: var(--fonte-padrão);
    font-size: min(70px, 8vw); 
    color: var(--branco);
    text-align: center;
    
}
.atributos_fisicos_imagem{
    height: max(160px, 15vw);
    width: max(160px, 15vw) ;
}
.atributos_grafico{

    border-bottom: solid 3px #f9c70a;
    align-items: center;
    margin: 55px;
    padding-bottom:50px ;

}

.atributos_mentais{

    border-bottom: solid 3px #f9c70a;
    align-items: center;
    margin: 0px 55px 55px 55px;
    padding-bottom:50px ;
}
.atributos_mentais_titulo{
    font-family: var(--fonte-padrão);
    font-size: min(70px, 8vw);
    color: var(--branco);
    text-align: center;

}
.atributos_mentais_imagem{
    height: max(160px, 15vw);
    width: max(160px, 15vw) ;
}
.atributos_sequencia{

    border-bottom: solid 3px #f9c70a;
    align-items: center;
    margin: 55px;
    padding-bottom:50px ;
}

/*estilo pg2*/

.atributos_tags_onbox :nth-child(n){
    font-family: var(--fonte-padrão);
    color: var(--branco);
    text-align: center;font-family: var(--fonte-padrão);
    font-size: 45px;
}    
.atributos_tags_onbox{
    display: grid;
    grid-auto-flow:column;
    /*justify-content: space-around;*/
    
}

.atributos_tags_box :nth-child(n){
    font-family: var(--fonte-padrão);
    color: var(--branco);
    text-align: center;font-family: var(--fonte-padrão);
    border: solid 3px #f9c70a;
    font-size: 45px;
}
.atributos_tags_box{
    display: grid;
    grid-auto-flow:column;
    grid-gap:15px;
    
}
